<f:if condition="{settings.includeBootstrap4}">
<link rel="stylesheet" type="text/css" href="typo3conf/ext/stagenote/Resources/Public/Css/bootstrap.min.css"/>
<script src="typo3conf/ext/stagenote/Resources/Public/JavaScript/bootstrap.bundle.min.js"></script>
</f:if>

<!-- TOP NOTES -->
<f:if condition="{configs.0 -> f:count()} > 0">
    <div style="position:fixed; z-index: 10000; top:0; margin: 10px;">
        <f:for as="config" each="{configs.0}">
            <f:render section="Toast" arguments="{config: config}"/>
        </f:for>
    </div>
</f:if>

<!-- MIDDLE NOTES -->
<f:if condition="{configs.1 -> f:count()} > 0">
    <div style="position:fixed; z-index: 10000; top:50%; margin: 10px;">
        <f:for as="config" each="{configs.1}">
            <f:render section="Toast" arguments="{config: config}"/>
        </f:for>
    </div>
</f:if>

<!-- BOTTOM NOTES -->
<f:if condition="{configs.2 -> f:count()} > 0">
    <div style="position:fixed; z-index: 10000; bottom:0; margin: 10px;">
        <f:for as="config" each="{configs.2}">
            <f:render section="Toast" arguments="{config: config}"/>
        </f:for>
    </div>
</f:if>
<script>
    $(document).ready(function(){
        $(".toast").toast('show');
    });
</script>

<f:comment><!-- Single Toast section --></f:comment>
<f:section name="Toast">
    <div class="toast" data-autohide="false" style="border-radius: 5px; border: 1px dashed {config.color}; ">
        <div class="toast-header" style="background-color: #cdcdcd; ">
            <svg class="bd-placeholder-img rounded mr-3" width="20" height="20" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
                <rect fill="{config.color}" width="100%" height="100%"></rect>
            </svg>
            <strong class="mr-auto pr-4">{config.title}</strong>
            <small><f:format.case>{config.context}</f:format.case></small>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close" title="{f:translate(key:'LLL:EXT:stagenote/Resources/Private/Language/locallang.xlf:tx_stagenote.toast.close')}">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <f:if condition="{config.size} == 0">
            <div class="toast-body" style="background-color: #eeeeee;">
                {config.text}
            </div>
        </f:if>
    </div>
</f:section>
